/NBAMatchDataGetter/.vs
/NBAMatchDataGetter/NBAMatchDataGetter/obj
/NBAMatchDataGetter/NBAMatchDataGetter/bin/Debug
/NBAMatchDataGetter/NBAMatchDataGetter/bin/Release
/NBAMatchDataGetter/TestForm/obj
/NBAMatchDataGetter/TestForm/bin/Debug
